.parallax-container
	overflow-x hidden
	z-index -2
	height 100%
	

.parallax-circle
	border-radius 50%
	position absolute
	z-index -2
	
	@media all and (max-width: 768px)
		display none
	
	
	&--1
		background-color #daf2f6
		opacity .3
		width 800px
		height 800px
		top -30%
		left -20%
		
		
	&--2
		border 5px solid #e1e1e1
		opacity .3
		width 500px
		height 500px
		top 45%
		left 1%
		
	&--3
		width 250px
		height 250px
		top 47%
		left -3%
		background url('../img/patterns/pattern-ultra-blue.png') repeat
		
	&--4
		background-color #7ed3e0
		width 800px
		height 800px
		top 4%
		right -6%
		
		@media all and (max-width: 1200px)
			display none
		
	&--5
		border 4px solid #eef7f9
		width 300px
		height 300px
		top 11%
		right 42%
		
	&--6
		width 350px
		height 350px
		top 145%
		left 10%
		background url('../img/patterns/pattern-green.png') repeat
		
	&--7
		background-color #67c47b
		width 200px
		height 200px
		top 200%
		left -5%
		
	&--8
		background url('../img/patterns/pattern-ultra-blue.png') repeat
		width 600px
		height 600px
		top 210%
		right 5%
		
	&--9
		border 4px solid #f3f3f3
		opacity .3
		width 400px
		height 400px
		top 290%
		left 5%
		
	&--10
		border 4px solid #ffb500
		width 100px
		height 100px
		top 310%
		left 5%
		
	&--11
		background url('../img/patterns/pattern-pink.png') repeat
		width 300px
		height 300px
		top 340%
		left 1%
		
	&--12
		background url('../img/patterns/pattern-orange.png') repeat
		width 240px
		height 240px
		top 300%
		right 9%
		
	&--13
		background-color #7ed3e0
		width 200px
		height 200px
		top 350%
		right -1%
		
	&--14
		border 5px solid #e1e1e1
		opacity .3
		width 800px
		height 800px
		top 225%
		right -31%
		
	&--15
		background-color #7ed3e0
		opacity .3
		width 800px
		height 800px
		top 380%
		left -31%
		
	&--16
		background url('../img/patterns/pattern-ultra-blue.png') repeat
		width 250px
		height 250px
		top 490%
		left 11%
		
	&--17
		border 3px solid #e1e1e1
		opacity .3
		width 100px
		height 100px
		top 430%
		right 11%
		
	&--18
		width 250px
		height 250px
		top 520%
		right 1%
		background url('../img/patterns/pattern-green.png') repeat
		
	&--19
		border 3px solid #e1e1e1
		opacity .3
		width 500px
		height 500px
		top 520%
		right -10%

	&--20
		width 500px
		height 500px
		top 610%
		left -14%
		background url('../img/patterns/pattern-green.png') repeat
		
	&--21
		border 3px solid #e1e1e1
		width 500px
		height 500px
		top 680%
		left 1%
		
	&--22
		border 3px solid #ffb500
		width 100px
		height 100px
		top 740%
		left 5%
		
		
		
	&--23
		background url('../img/patterns/pattern-orange.png') repeat
		width 200px
		height 200px
		top 610%
		right 14%
		
	&--24
		border 5px solid #e1e1e1
		opacity .3
		width 800px
		height 800px
		top 600%
		right -31%
		
	&--25
		background url('../img/patterns/pattern-pink.png') repeat
		width 300px
		height 300px
		top 720%
		left 1%