.parallax-circle
	border-radius 50%
	position absolute
	
	
	&--blue
		background-color $blue
		width 200px
		height 200px
		top 50px
		left 100px
		
		
	&--pink
		background-color $pink
		width 100px
		height 100px
		top 180px
		left 200px

	