@import 'modules/base/colors'
@import 'modules/circles'

body, header, section, h1, h2, h3, h4, h5, h6
	margin 0
	padding 0
	
a
	&:visited
		outline 0
		color #fff
		text-decoration none
	&:focus
		outline 0
		color #fff
		text-decoration none

body
	font-family 'SegoeUIRegular', sans-serif
	line-height 1.15
	font-size 20px
	color $grey
	min-width 320px
	overflow-x hidden
	
	@media all and (max-width: 640px)
		font-size 18px
	
h1, h2, h3, h4, h5, h6
	font-family 'IntroRegular', sans-serif

h1
	font-size 70px
	
	@media all and (max-width: 640px)
		font-size 50px

h2
	font-size 55px
	
	@media all and (max-width: 640px)
		font-size 42px
	
h3
	font-size 38px
	
	@media all and (max-width: 640px)
		font-size 30px
	
h4
	font-size 27px
	
	@media all and (max-width: 640px)
		font-size 20px
	
p
	font-size 20px

section
	padding 50px 0
	overflow-y visible
	
	@media all and (max-width: 640px)
		padding 30px 0
	
.segoe-font
	font-family 'SegoeUIRegular', sans-serif
	
.segoe-black-font
	font-family 'SegoeUIBlack', sans-serif
	

	
.intro-font
	font-family 'IntroRegular', sans-serif

.text-right
	text-align right
	
.text-center
	text-align center
	
.green
	color $green

.pink
	color $pink

.yellow
	color $yellow

.blue 
	color $blue

.heading
	margin-bottom 50px

.hero
	padding 115px 0
	width 100%
	min-height 100vh
	position relative
	
	@media all and (max-width: 640px)
		padding-bottom 20px
	
	&__subheader
		font-size 30px
		position relative
		top -7px
		margin-bottom 50px
		
		@media all and (max-width: 640px)
			font-size 25px
			margin-bottom 20px

		&--big
			font-size 33px
			
			@media all and (max-width: 640px)
				font-size 26px
			
	&__bg-images
		position absolute
		width 657px
		left 45%
		height 657px
		
		@media all and (max-width: 960px)
			left 52%
			
		@media all and (max-width: 640px)
			display none
		
	&__bg-img
		position absolute
		
		&--fir
			top 0
			left 0
			width 657px
			height 657px
		
			
		&--sec
			left 58%
			width 500px
			height 500px
			bottom -29%
			
			@media all and (max-width: 960px)
				display none
				
.hren
	position relative
	width 100%
	margin 20px 0
	
	&:after
		height 2px
		position absolute
		top 0
		bottom 0
		margin auto
		width 100%
		content ''
		display block
		background-color $green
		z-index -1
	
	&__text
		background-color $green
		color #fff
		font-size 14px
		padding 3px 5px
		width 260px
		text-align center
	
	

.arrow-down
	color $navy-blue
	padding-left 90px
	display flex
	align-items center
	position relative
	height 70px
	margin-top 100px
	
	&__text
		color $navy-blue
		
		&:hover,
		&:focus
			color $navy-blue
			text-decoration none
		&:visited
			color $navy-blue
	
	&__icon
		background url('../img/arrow-bg.png') no-repeat
		position relative
		width 70px
		height 70px
		position absolute
		top 0
		left 0
		border-radius 50%
	
		&:before
			content ''
			background url('../img/arrow-down.png') no-repeat
			width 37px
			height 23px
			display block
			position absolute
			left 15px
			top 0
			bottom 0
			margin auto
			
.arrow-down__icon:before{
	animation: arrow ease-out 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: arrow ease-out 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	-moz-animation: arrow ease-out 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: arrow ease-out 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: arrow ease-out 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes arrow{
	0% {
		opacity:0;
		transform: translate(0px,-15px)
	}
	100% {
		opacity:1;
		transform: translate(0px,0px)
	}
}

@-moz-keyframes arrow{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-15px)
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)
  }
}

@-webkit-keyframes arrow {
	0% {
		opacity:0;
		-webkit-transform:  translate(0px,-15px)
	}
	100% {
		opacity:1;
		-webkit-transform:  translate(0px,0px)
	}
}

@-o-keyframes arrow {
	0% {
		opacity:0;
		-o-transform: translate(0px,-15px)
	}
	100% {
		opacity:1;
		-o-transform: translate(0px,0px)
	}
}

@-ms-keyframes arrow {
	0% {
		opacity:0;
		-ms-transform: translate(0px,-15px)
	}
	100% {
		opacity:1;
		-ms-transform: translate(0px,0px)
	}
}
			

		
.video-container
	position relative
	&__ipad
		display block
		margin 0 auto
		width 85%
		
	&__iframe
		height 0
		width 69.6%
		position absolute
		top 0
		left 0
		right 0
		margin auto
		padding-top 3.9%
		padding-bottom 42%


.numbers
	& .heading
		margin-bottom 15px
		
		& h3
			font-size 48px
		
		& h4
			font-size 30px

	&__bullet
		width 10px
		height 10px
		margin 0 auto 15px
		background $green
		border-radius 50%
		
	&__description
		font-size 18px
		
.image-container
	border-radius 50%
	border 3px dotted
	margin 20px auto
	position relative
	
	&__img
		width 120px
		height 120px
		border-radius 50%
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		margin auto
		background-color $pink
		
		&--laptop
			background-image url('../img/sprites/sprite1.png')
			background-position 0px 0px
			background-repeat no-repeat
			
		&--phone
			background-image url('../img/sprites/sprite1.png')
			background-position -120px 0px 
			background-repeat no-repeat
			
		&--hat
			background-image url('../img/sprites/sprite1.png')
			background-position -240px 0px 
			background-repeat no-repeat
			
		&--hand
			background-image url('../img/sprites/sprite1.png')
			background-position -360px 0px 
			background-repeat no-repeat
			
		&--photo
			width 170px
			height 170px
			
	
	&--receive
		border-color $pink
		width 150px
		height 150px
		
	&--slider
		border-color $blue
		width 200px
		height 200px
		margin-top 0

.recieve-container
	background url('../img/iphone.png') no-repeat
	background-position center
	background-size 60%
	
	@media all and (max-width: 992px)
		background none
		
.receive
	&__heading
		font-size 24px
		
	&__description
		font-size 18px
		
.footer
	background-color $black
	color #fff
	text-transform uppercase
	padding 20px
	font-size 14px
	
form
	label
		display none
		
	input
		display block
		margin-bottom 20px
		border 5px solid #f4f4f4
		background-color #fff
		border-radius 50px
		font-style italic
		height 80px
		width 100%
		padding 21px 25px 30px 30px
		
		@media all and (max-width: 640px)
			height 60px
		
		@media all and (max-width: 460px)
			width 100%
			
	button
		color #fff
		background-color $yellow
		border none
		text-align center
		font-style normal
		border-radius 50px
		height 80px
		width 100%
		font-family 'IntroRegular', sans-serif
		font-size 30px
		padding 21px 25px 27px 30px
		cursor pointer
		background linear-gradient($yellow, #ff8c00)
		background -ms-linear-gradient($yellow, #ff8c00)
		background -webkit-linear-gradient($yellow, #ff8c00)
		background -moz-linear-gradient($yellow, #ff8c00)
		
		@media all and (max-width: 640px)
			font-size 22px
			padding 17px 25px 27px 30px
		
		&:hover
			background linear-gradient(#ff8c00, $yellow)
			background -ms-linear-gradient(#ff8c00, $yellow)
			background -webkit-linear-gradient(#ff8c00, $yellow)
			background -moz-linear-gradient(#ff8c00, $yellow)
			
.guarantee
	font-size 16px
	text-align center
	margin-top 10px
	

			
.tmplt-usersList
	width 100%
	margin 0
	background-color transparent
	border-radius 0
	box-shadow none
	padding 0
	list-style-type none
		
	li
		padding-bottom 10px
		
		span:first-child
			color $pink
			
		span:last-child
			text-align right
			float right
			

.report-slide
	img
		width 100%
		
.mentor
	&__img
		width 100%
		
		@media all and (max-width: 640px)
			margin-bottom 30px
		
	&__descr
		font-size 24px
		
.contacts-list
	padding 0
	margin 20px 0
	list-style-type none
	
	&__item
		padding 14px 0 14px 70px
		margin-bottom 20px
		position relative

		&:before
			content ''
			display block
			width 50px
			height 50px
			position absolute
			left 0
			top 0
			background url('../img/sprites/socials.png') no-repeat
		
		&--mail
			
			&:before
				background-position 0px 0px
			
		&--skype
			&:before
				background-position -50px 0px
			
		&--phone
			&:before
				background-position -100px 0px
				
.hr
	background-color $green
	height 5px
	width 100%
	margin 20px 0 25px
	
.add-text
	margin-bottom 50px
	text-align right
	

.feedbacks
	padding-bottom 100px
	background url('../img/quotes.png') no-repeat
	background-position center right
	
	@media all and (max-width: 769px)
		background none
	
.feedback
	&__heading
		font-size 36px
		margin-bottom 20px
		
	&__city
		font-size 18px
		margin 0 0 60px
		
	&__text
		margin 0 auto 55px
		max-width 820px
		width 100%
		line-height 1.5
		
	&__btn
		height 60px
		width 345px
		display block
		color #fff
		font-family 'IntroRegular', sans-serif
		border-radius 50px
		margin 0 auto
		font-size 22.5px
		text-align center
		padding 16px
		background linear-gradient(#3b8cbb, #185579)
		background -ms-linear-gradient(#3b8cbb, #185579)
		background -webkit-linear-gradient(#3b8cbb, #185579)
		background -moz-linear-gradient(#3b8cbb, #185579)
		
		@media all and (max-width: 320px)
			width 100%
			
		&:hover
			color #fff
			text-decoration none
			background linear-gradient(#185579, #3b8cbb)
			background -ms-linear-gradient(#185579, #3b8cbb)
			background -webkit-linear-gradient(#185579, #3b8cbb)
			background -moz-linear-gradient(#185579, #3b8cbb)
			
.slick-dots
	bottom -75px
	

.slick-dots li button::before 
	font-size 20px
	color #f4f4f4
	opacity 1

.feedbacks-slider .slick-dots li.slick-active button::before 
	opacity 1
	color $blue
	
.reports-slider .slick-dots li.slick-active button::before 
	opacity 1
	color $pink
	
.circle
	width 260px
	height 260px
	border-radius 50%
	position absolute
	top 0
	left 0
	background url('../img/pattern-blue.png') repeat
	
.ps
	font-size 18px
	
	@media all and (max-width: 640px)
		font-size 16px
		

	
.navigation-container
	width 100%
	position fixed
	top 0
	left 0
	background-color #fff
	box-shadow 0px 3px 4px 0px #e1e2e2
	height 80px
	z-index 100
	
.logo
	position absolute
	left 15px
	top 15px
	
.relative
	position relative
	padding-top 32px
	
.navigation
	float right
	
	@media all and (max-width: 1100px)
		display none
	
	&__link
		float left
		display block
		padding 0 20px 33px 9px
		color #898384
		text-transform: uppercase
		font-size 13px
		border-left 3px solid transparent
		font-weight 600
		transition .2s ease-out
		
		
		&:hover
			color #35808b
			transition .2s ease-out
			text-decoration none
			
		&:visited
			color #898384
			
		&:focus
			color #35808b
			
		&.active
			border-left 3px solid #67b8c4
			
	&.active
		display block
		position absolute
		width 100%
		top 80px
		left 0
		background-color #fff
		padding 0 10px 20px
		
		.navigation__link
			float none
			max-width 160px
			margin 0 auto
			text-align center
			padding 15px 20px
			
		.navigation-btn
			top 0
			padding 8px 0
		

			
.navigation-btn
	color $yellow
	border 3px solid $yellow
	border-radius 25px
	height 40px
	position relative
	top -12px
	padding 9px 25px
	transition .2s ease-out
	
	&:hover
		background-color $yellow
		color #fff
		transition .2s ease-out
		
	&.active
		border-left 3px solid $yellow
		
.hamburger
	display none
	padding 0
	float right
	
	@media all and (max-width: 1100px)
		display block
	

.video, .registered, .numbers, .receive, .feedbacks
	position relative
	
.numbers
	top -1px

.grey-overlay
	background-color #f4f4f4
	position absolute
	bottom -1px
	transform skewX(-45deg)
	z-index -1
	display none
	
	// @media all and (max-width: 768px)
	// 	display none
	
	&--video
		width 1000px
		height 80%
		right -30.6%
		
	&--registered
		width 1000px
		height 100%
		right -30%
		
	&--numbers
		width 1000px
		height 100%
		right -10%
		
	&--receive
		width 1000px
		height 101%
		right 14.5%
		
	&--feedbacks
		width 1000px
		height 100%
		right 74%
		

.tmplt-containerHd, .tmplt-wrapFooter
	display none